/* Couleurs Charte Graphique */

:root {
    --primary: rgb(63, 63, 63);
    --test: #DFBCB8;
}

/* Général */

body {
    margin: 0px;
    /*background-color: red;*/
}

/* Soft scroll */

html {
    scroll-behavior: smooth;
}

/* Barre de navigation */

[type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.menu-icon:checked+label, .menu-icon:not(:checked)+label {
    position: fixed;
    top: 63px;
    right: 75px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 100;
}

.menu-icon:checked+label:before, .menu-icon:not(:checked)+label:before {
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 20px;
    z-index: 20;
    top: 0;
    left: 0;
    border-top: 2px solid #ececee;
    border-bottom: 2px solid #ececee;
    transition: border-width 100ms 1500ms ease, top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after, .menu-icon:not(:checked)+label:after {
    position: absolute;
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    z-index: 20;
    top: 10px;
    right: 4px;
    background-color: #ececee;
    margin-top: -1px;
    transition: width 100ms 1750ms ease, right 100ms 1750ms ease, margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:before {
    top: 10px;
    transform: rotate(45deg);
    height: 2px;
    background-color: #ececee;
    border-width: 0;
    transition: border-width 100ms 340ms ease, top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after {
    width: 30px;
    margin-top: 0;
    right: 0;
    transform: rotate(-45deg);
    transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {

    position: fixed;
    top: 33px;
    right: 50px;
    display: block;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    z-index: 9;
    overflow: hidden;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
    background-color: #353746;
    animation: border-transform 7s linear infinite;
    transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 1100ms ease, width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes border-transform {
    0%, 100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

.menu-icon:checked~.nav {
    animation-play-state: paused;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 200%;
    height: 200%;
    transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease, width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1), height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
    list-style: none;
}

.nav ul li {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    list-style: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all 250ms linear;
}

.nav ul li:nth-child(1) {
    transition-delay: 200ms;
}

.nav ul li:nth-child(2) {
    transition-delay: 150ms;
}

.nav ul li:nth-child(3) {
    transition-delay: 100ms;
}

.nav ul li:nth-child(4) {
    transition-delay: 50ms;
}

.nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 9vh;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 800;
    display: inline-block;
    position: relative;
    color: #ececee;
    transition: all 250ms linear;
}

.nav ul li a:hover {
    text-decoration: none;
    color: var(--test);
}

.nav ul li a:after {
    display: block;
    position: absolute;
    top: 50%;
    content: '';
    height: 2vh;
    margin-top: -1vh;
    width: 0;
    left: 0;
    background-color: #353746;
    opacity: 0.8;
    transition: width 250ms linear;
}

.nav ul li a:hover:after {
    width: 100%;
}

.menu-icon:checked~.nav ul li {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 350ms ease, transform 250ms ease;
}

.menu-icon:checked~.nav ul li:nth-child(1) {
    transition-delay: 1400ms;
}

.menu-icon:checked~.nav ul li:nth-child(2) {
    transition-delay: 1480ms;
}

.menu-icon:checked~.nav ul li:nth-child(3) {
    transition-delay: 1560ms;
}

.menu-icon:checked~.nav ul li:nth-child(4) {
    transition-delay: 1640ms;
}

@media screen and (max-width: 991px) {
    .menu-icon:checked+label, .menu-icon:not(:checked)+label {
        right: 55px;
    }
    .logo {
        left: 30px;
    }
    .nav {
        right: 30px;
    }
    h1 {
        font-size: 9vw;
        -webkit-text-stroke: 2px transparent;
        /*text-stroke: 2px transparent;
        -webkit-text-fill-color: #ffeba7;*/
        /*text-fill-color: #ffeba7;
        color: var(--test);*/
    }
    .nav ul li a {
        font-size: 8vh;
    }
}

/* Bootstrap 

.autohide {
    position: fixed;
    top: 0px;
    /*right: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-family: 'Encode Sans SC', Courier, monospace;
    font-size: 18px;
}

.scrolled-up {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-down {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0px;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #333;
}

.navbar-nav>li {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-nav>li :hover {
    text-decoration: none;
    background-color: #35373a;
}

.navbar-nav>li :focus {
    text-decoration: none;
}

.no-padding {
    padding: 0%;
}*/

/* Bannière */

.main-content {
    min-height: 1000px;
}

.hero {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 640px) {
    .hero {
        background-position: 50% 0;
    }
}

.hero:after {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    content: '';
    left: -2000%;
    position: absolute;
    right: -2000%;
    top: 0;
    z-index: 1;
}

.hero-container {
    box-sizing: border-box;
    height: auto;
    padding: 30px 50px;
    position: relative;
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
}

@media screen and (min-width: 640px) {
    .hero-container {
        height: 100%;
    }
}

.hero-container p {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 6px;
    opacity: 0.8;
    text-transform: uppercase;
    text-align: left;
}

.hero-button {
    background: rgba(255, 255, 255, 0.8);
    color: #44575b;
    font-size: 24px;
    float: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
    padding: 20px 90px;
    text-decoration: none;
}

/* Bouton se "remplissant" */

.button {
    background: linear-gradient(to right, rgba(63, 63, 63, 0.8) 50%, rgba(255, 255, 255, 0.8) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.button:hover {
    background-position: left bottom;
    text-decoration: none;
    color: white;
}

.hero-title {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 17vw;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 5px 0;
    text-align: left;
    width: 85%;
}

@media screen and (min-width: 640px) {
    .hero-title {
        font-size: 10vw;
    }
}

.main-content {
    height: auto;
    padding: 30px 50px;
    position: relative;
    width: 60%;
}

.main-content p {
    color: #25373D;
    font-family: "Playfair Display", serif;
    font-size: 18px;
    line-height: 1.5;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-12px, 0, 0);
        transform: translate3d(-12px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-12px, 0, 0);
        transform: translate3d(-12px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.animate {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
    animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.delay {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.delay-400 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.delay-500 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay-600 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.delay-700 {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.delay-800 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

/* Line Motion : Has a lot of bugs so .... :/

.line {
    width: ;
    height: 2px;
    background: cyan;
    position: absolute;
    transform: translate(-50%, -50%);
}

.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    0% {
        left: 0;
    }
} */

/* ScrollSpy Custom */

#hero-video {
    position: relative;
    z-index: 0;
    /* 提供選擇性遮蓋影片背景 */
}

#hero-video:before {
    z-index: 1;
}

.overlay:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* (Gradient Color) opacity/location: 30/0,30/40,40/80,60/100 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0.6) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0.6) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#99000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

/* 影片背景_START =========================== */

.video-background {
    position: relative;
}

.content-s {
    display: table;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    position: relative;
}

.content-s .inner-s {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 15px;
}

.content-s .inner-s h1, .content-s .inner-s h2 {
    font-size: 6vw;
    font-weight: bold;
    -webkit-text-stroke: 1.5px #000;
    /*text-stroke: 1.5px #000;
    text-fill-color: transparent;*/
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    /*text-stroke-color: 1.5px #000;*/
    -moz-text-stroke-color: 1.5px #000;
    -webkit-text-stroke-color: 1.5px #000;
    color: #FFF;
    text-shadow: 6px 0px 0px rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 991px) {
    .content-s .inner-s h1, .content-s .inner-s h2 {
        font-size: 8vw;
        -webkit-text-stroke: 1px #000;
        /*text-stroke: 1px #000;
        text-fill-color: transparent;*/
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        /*text-stroke-color: 1px #000;*/
        -moz-text-stroke-color: 1px #000;
        -webkit-text-stroke-color: 1px #000;
        color: #FFF;
        text-shadow: 3px 0px 0px rgba(255, 255, 255, 0.3);
    }
}

.video-background-controls button {
    font-size: 30px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    line-height: 30px;
    border: none;
    background: none;
    -webkit-appearance: none;
    color: #000;
    cursor: pointer;
    opacity: 1;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    margin-left: 15px;
}

.video-background-controls button:hover {
    opacity: 1;
    color: #FFF;
}

iframe {
    transition: opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition-delay: 250ms;
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -o-transition-delay: 250ms;
}

/* 影片背景_END =========================== */

section.sec-blank {
    position: relative;
    padding: 130px 0;
    min-height: 390px;
    background: #222;
    background-image: var(--primary);
    /*repeating-linear-gradient(110deg, #2f2f2f, #2f2f2f 1px, transparent 1px, transparent 6px, #2f2f2f 6px, #2f2f2f 7px, transparent 7px, transparent 12px, #2f2f2f 12px, #2f2f2f 13px, transparent 13px, transparent 18px, #2f2f2f 18px, #2f2f2f 19px, transparent 19px, transparent 24px, #2f2f2f 24px, #2f2f2f 25px, transparent 25px, transparent 30px, #2f2f2f 30px, #2f2f2f 31px, transparent 31px, transparent 45px), repeating-linear-gradient(-110deg, #2f2f2f, #2f2f2f 1px, transparent 1px, transparent 6px, #2f2f2f 6px, #2f2f2f 7px, transparent 7px, transparent 12px, #2f2f2f 12px, #2f2f2f 13px, transparent 13px, transparent 18px, #2f2f2f 18px, #2f2f2f 19px, transparent 19px, transparent 24px, #2f2f2f 24px, #2f2f2f 25px, transparent 25px, transparent 30px, #2f2f2f 30px, #2f2f2f 31px, transparent 31px, transparent 45px);*/
}

section.parallax {
    position: relative;
    color: #FFF;
    padding: 130px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    position: relative;
}

.parallax:before {
    z-index: 0;
}

.flatbox {
    background-color: #eee;
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

.sec-blank h1 {
    color: #FFF
}

.sec-blank h1, .parallax h1 {
    text-align: center;
    width: 100%;
    padding: 0 50px;
    z-index: 2;
}

@media screen and (max-width: 991px) {
    .sec-blank h1, .parallax h1 {
        padding: 0 15px;
    }
}

.sec2-bg {
    background-image: url('https://picsum.photos/id/1/1200/800');
}

.sec4-bg {
    background-image: url('https://picsum.photos/id/504/1200/800');
}

/* Bootstrap v3.3.7_START */

.nav-scrollspy {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-scrollspy>li {
    position: relative;
    display: block;
}

.nav-scrollspy>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-scrollspy>li>a:hover, .nav-scrollspy>li>a:focus {
    text-decoration: none;
    background-color: #eee;
}

.nav-scrollspy>li.disabled>a {
    color: #777;
}

.nav-scrollspy>li.disabled>a:hover, .nav-scrollspy>li.disabled>a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

/* Bootstrap v3.3.7_END */

.fixed-side-navbar {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 5;
    border: 1px solid transparent;
    /* 位置與Hover一致 */
    outline: 1px solid transparent;
    /* 位置與Hover一致 */
    outline-offset: -3px;
    /* 位置與Hover一致 */
    margin-top: -100px;
    text-align: right;
    padding: 20px 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.fixed-side-navbar:hover {
    background-color: #F1F1F1;
    border: 1px solid #ECECEC;
    outline: 1px solid #FFFFFF;
    outline-offset: -3px;
    /* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); */
    /* -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); */
    /* -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); */
    /* -o-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); */
    /* border-radius: 4px 0px 0px 4px; */
    /* -moz-border-radius: 4px 0px 0px 4px; */
    /* -o-border-radius: 4px 0px 0px 4px; */
    /* -webkit-border-radius: 4px 0px 0px 4px; */
}

.fixed-side-navbar:hover .nav-scrollspy>li>a>span {
    color: rgba(0, 0, 0, 0.5);
    display: block;
}

.fixed-side-navbar .nav-scrollspy>li.active a {
    background-color: transparent;
    color: black;
}

.fixed-side-navbar .nav-scrollspy>li.active a:after {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.fixed-side-navbar .nav-scrollspy>li.active a:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 9px;
    margin-top: -7px;
    width: 16px;
    height: 16px;
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.fixed-side-navbar .nav-scrollspy>li a {
    color: black;
    height: 33px;
    background: transparent;
    padding: 5px 40px 5px 25px;
    border-right: none;
}

.fixed-side-navbar .nav-scrollspy>li a span {
    display: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.fixed-side-navbar .nav-scrollspy>li a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -4px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
}

.fixed-side-navbar .nav-scrollspy>li a:hover {
    background-color: transparent;
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -o-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-color: black;
    border-right: 0;
}

.fixed-side-navbar .nav-scrollspy>li a:hover>span {
    color: black;
    display: block;
}

footer.footer {
    line-height: 100px;
    background-color: #333333;
    color: #808080;
    text-align: center;
}

.btn-outline {
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: white;
    text-shadow: none;
    padding: 14px 18px;
    transition: all 0.3s;
    font-size: 16px;
    font-weight: 200;
}

.btn-outline:hover, .btn-outline:focus {
    border-color: rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.4);
}

.btn-outline:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.wrap {
    font-size: 21px;
    line-height: 1.6;
    font-weight: 200;
    text-align: center;
    max-width: 600px;
    margin: 30px auto 10px;
}

.shadow-text {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.square {
    width: 100%;
    min-height: 400px;
    background-color: #ccc;
}

.container, .jumbotron .container {
    max-width: 970px;
}

.fadeInRight {
    animation: fadeInRight;
    -webkit-animation: fadeInRight;
    -moz-animation: fadeInRight;
    -ms-animation: fadeInRight;
    -o-animation: fadeInRight;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(30%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(30%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translate3d(30%, 0, 0);
    }
    100% {
        opacity: 1;
        -moz-transform: none;
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translate3d(30%, 0, 0);
    }
    100% {
        opacity: 1;
        -o-transform: none;
    }
}

/* Footer */

.footer-basic {
    padding: 40px 0;
    /* Light mode :
    background-color: #ffffff;
    color: #4b4c4d;
    Dark mode : */
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}