/* Barre de navigation */

#navbar {
    /* Make it stick/fixed */
    position: fixed;
    /* Hide the navbar 50 px outside of the top view */
    top: -50px;
    /* Full width */
    width: 100%;
    /* Transition effect when sliding down (and up) */
    transition: top 0.3s;
}

#menu {
    list-style-type: none;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    position: relative;
}

.menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.test:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* Footer */

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    height: 200px;
    bottom: 0;
}

/* Général */

body {
    margin: 0px;
}